@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
    background: url("https://res.cloudinary.com/dupbox21b/image/upload/v1657032178/yelpcampAssets/gory-noch-nebo-zvezdy-mlechnyi-put-palatka-svet_icx324.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.navbar{
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    color: aliceblue;
    margin-top: 2vh;
}
.navbar-brand{
  font-size: 1.9em;
  font-family: 'Pacifico', cursive;
  color: #E71D36;
  font-weight: 200;
}
.navbar-brand:hover{
    color: aliceblue;
}
.started{
    color: aliceblue;
    font-size: 10vh;
    font-weight: bold;
    line-height: 10vh;
}
.red{
  color:#7CF205;
}
.startContainer{
    background-color: rgba(0,0,0,0.5);
    padding: 2%;
    border-radius: 12px;
}
.sub-main{
    width: 30%;
    height: 10%;
}

.buttonStarted{
    text-align: center;
    cursor: pointer;
    font-size:24px;
}

.buttonStarted {
    border-radius: 4px;
    background-color:#d35400;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    color: aliceblue;
  }

  
  .buttonStarted span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonStarted span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: aliceblue;
  }
  
  .buttonStarted:hover span {
    padding-right: 25px;
    color: aliceblue;
  }
  
  .buttonStarted:hover span:after {
    opacity: 1;
    right: 0;
    color: aliceblue;
  }
  .nav-link{
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
}
.active{
    color: #F2A007;
}
.nav-link:hover{
    color: #F2A007;
}
.nav-link:active{
    color: #F2A007;
}
.navbar-link > .active  a{
    color: #F2A007;
}

.login{
    color:#FFFFFF;
}
.login:hover{
    color: #F2A007;
}
