@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

.navbar{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
.navbar-brand{
    font-size: 1.7em;
    font-family: 'Pacifico', cursive;
    color: #F2A007;
    font-weight: 200;
}
.navbar-brand:hover{
    color: #F2A007;
}
.nav-link{
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 200;
}
.active{
    color: #F2A007;
}
.nav-link:hover{
    color: #F2A007;
}
.nav-link:active{
    color: #F2A007;
}
.navbar-link > .active  a{
    color: #F2A007;
}

.login{
    color: #F2A007;
}
.login:hover{
    color: #E71D36
}
.searchSection{
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 50vh;
    
}
.leftSection{
    margin-top: 1vh;
    width: 50vw;
    height: 60vh;
    
    padding-left: 12vh;
    padding-top: 20vh;
    border-radius: 12px;
}
.leftSection input{
    width: 80%;
    margin-left: 0.5vw;
}
.rightSection{
    margin-top: 10vh;
    width:45vw;
    font-size: 6em;
    color:#FF9F1C;
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    margin-left: 10vw;
}
.searchText{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3em;
    color:#FDFFFC;
    font-weight: 200;
    /* margin-left: 20%; */
}
.searchInput{
    size :40px;
    max-width: 100%;
}
.searchButton{
    width: 20%;
    margin-left: 14vw;
    color: #6FD904;
    font-weight: bold;
    border-color: #6FD904;
}
.searchButton:hover{
    
    color: #FFFFFF;
    background-color: #6FD904;
    border-color: #6FD904;
    
}
.red{
    color: #E71D36;
    
}

/* #F29F05
#6FD904
#47A603
#267302
#0B040D */