@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    background:url("https://res.cloudinary.com/dupbox21b/image/upload/v1657032231/yelpcampAssets/340236-Digital-Art-Camping-Car-Road-Sunset-Scenery_1_chfyp5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   
}
.formBox{
background: rgba(242, 227, 213, 0.15);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
    padding: 2vw;
    width: 40vw;
}
.heading{
    color: #120F24;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3    .5em;
    font-family: 'Staatliches', cursive;
    background-color: #FE3057;
    padding: 1vw;
}
.form-control{
    background-color: rgba(256, 256,256,0.3);
    color: #0B040D;
    
    border: none;
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;

}
.form-control:focus{
    background-color: rgba(256, 256,256,0.3);
}
.form-control::placeholder{
    color: #0B040D; 
}
.formText{
    color: #120F24;
    font-size: 1.05em;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
}
.currency{
    background-color: #E71D36;
    color: #D2C9E8;
    border-color: #E71D36;
    
}