body{
    background: url("https://res.cloudinary.com/dupbox21b/image/upload/v1657032358/yelpcampAssets/244206_nghehw.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.review{
    color: white;
    background: rgba(0, 0, 0, 0.77);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
    padding: 2vh;


}
hr{
    color: white;
}
    
.starability-result{
    size: 10px;
    font-size: 10px;
}
.card{
    border-radius: 0;
    color: black;
    color: white;
    background: rgba(0, 0, 0, 0.77);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
}
.form-control{
    border-radius: 0;
    color: black;
    color: white;
    background: rgba(0, 0, 0, 0.77);
}