<link rel="stylesheet" href="/../public/style/navbarOther.css">
<nav class="navbarSection">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp⛺</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds/new">New Campground</a>
                    </li>
                </ul>

                <i class="fa fa-sign-in fa-2x login" aria-hidden="true"></i>
            </div>
        </div>
    </nav>