<% layout('layouts/boilerplate.ejs') %> 
    <h1>All Campgrounds</h1>

    <ol type="1">
        <% for (let camp of campgrounds) { %>
            <li><a href="/campgrounds/<%= camp._id %>"><%= camp.name %></a></li>
        <% } %>
    </ul>

    <a href="/campgrounds/new""><button class="btn btn-primary">Add new</button></a>
